---
---
@charset "utf-8";

$poppy-bg: #ffffff;

$font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-height: 70px;
$navbar-padding: 10px;
$border-color: #bbb;

@import "layout";
