.visualizer {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$navbar-height});

  display: block;

  canvas {
    display: block;

    width: 100%;
    height: 100%;
  }
}

.visualizer-gui {
  position: fixed;
  top: $navbar-height + 1px;
  right: 0;

  li {
    margin: 0;
  }

  input {
    margin: 0;
  }

  .dg {
    input {
      height: auto;
      line-height: normal;
      border-radius: 0;
    }
  }
}

#stats {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 100;
}
