@import 'bower_components/Skeleton-Sass/scss/skeleton';
@import 'variables';

@import 'navbar';
@import 'content';
@import 'separator';
@import 'hero';
@import 'visualizer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  margin: 0;
  padding: 0.5em 0;
  background: #fff8e2;
  color: #111;
  text-align: center;
}
